body {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  margin: 0;
  background-color: #2c6289;
  /* background-image: url(https://images.pexels.com/photos/97077/pexels-photo-97077.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2); */
  /* background-image: linear-gradient(to bottom right, #4d3bb0, #141E61) */
}

/* _________________ NavBar Styling _________________ */

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 5%;
  background-color: black;
  /* background-color: #0F044C; */
  color: white;
  margin: 0;
  height: 100vh;
  position: sticky;
}

#profile-pic {
  border-radius: 50%;
  max-width: 150px;
}

.name-nav {
  display: flex;
  justify-content: center;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* padding: 0 1% 0 1%; */
}

.nav-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.nav-list {
  /* list-style: none; */
  background-color: black;
}

.nav-link {
  text-decoration: none;
  color: white;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
}

/* _________________ Main Content Styling _________________ */

.main {
  padding: 5%;
  height: 100vh;
  overflow-y: scroll;
}

.portfolio-item {
  max-width: 50%;
}

.portfolio-list {
  display: flex;
  flex-flow: row wrap;
}

.portfolio-pic {
  max-width: 200px;
}

#portfolio-pic {
  max-width: 300px;
}

/* .resume-list {
  list-style: disc;
} */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}