body {
  display: flex;
  flex-direction: row;
  margin: 0;
  background-image: linear-gradient(to bottom, #00ADB5, #AAD8D3);
}

/* _________________ NavBar Styling _________________ */

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
  background-color: #464c56;
  color: white;
  margin: 0;
  height: 100vh;
  position: sticky;
}

#profile-pic {
  border-radius: 50%;
  max-width: 150px;
}

.name-nav {
  display: flex;
  justify-content: center;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 50vh;
  overflow-y: scroll;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin-top: 15px;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
}

/* _________________ Main Content Styling _________________ */

.main {
  padding: 5%;
  height: 100vh;
  overflow-y: scroll;
}

#home {
  padding: 25% 0 25% 0;
  color: white;
}

.card {
  background-color: #EEEEEE;
}

#about {
  margin-top: 15%;
}

#resume, #portfolio, #contact {
  margin-top: 10%;
}

.portfolio-item {
  max-width: 50%;
}

.portfolio-list {
  display: flex;
  flex-flow: row wrap;
}

.portfolio-pic {
  max-width: 200px;
}

#portfolio-pic {
  max-width: 300px;
}

#about-pic {
  max-width: 300px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}